

<div class = "main-content">
  <div class = "requestAnalyze">

    <div class = "requestAnalyzeArea requestFormInfo">
    <h5 class="requestTitle">REQUEST TRADE</h5>
            <form [formGroup] = "tradeForm" (ngSubmit) = "onSubmit()" novalidate>
                <div class="form-group">
                <label class = "labelClass" for="ticker">Ticker</label>
                <input  onkeyup="this.value = this.value.toUpperCase();" type = "text" formControlName = "ticker" #tickerPass class="form-control inputBox">
                <label class = "labelClass" for="quantity">Quantity</label>
                <input type = "number" min=1 formControlName = "quantity" class="form-control inputBox">
                </div>

                <mat-button-toggle-group name="fontStyle" aria-label="Request Type" formControlName="actionType" class="form-control inputBox">
                    <mat-button-toggle class = "inputBox" value="BUY">Buy</mat-button-toggle>
                    <mat-button-toggle class = "inputBox" value="SELL">Sell</mat-button-toggle>
                </mat-button-toggle-group>    

                 <div class = "d-flex buttonClass">
               
                    <button class = "btn btn-default" type="submit">Submit</button>
                    <button class = "btn ml-auto p-2" type ="button" (click) = "onAnalyzeCompare(1, ticker)" >Analyze</button>
                  
                 </div>
            </form>
    </div>

    <div class = "requestAnalyzeArea graphInfo">

        <div id="chartContainer1" class= "card-title" class="subHeading"style="height:370px; width: 100%;">Rendering 10 Day Chart...</div>
        <div id="chartContainer2" class= "card-title" class="subHeading"style="height:370px; width: 100%;">Rendering 10 Day Comparison Chart...</div>
 
    </div>

    <div id = "moreTickerInfo" class = "requestAnalyzeArea contentInfo">
  
                    <div class="row stockInfoClass">
                        <img *ngIf="this.stocksInfoPopulated == true" class="col-sm-5" src="{{stockInfo.logo}}" alt="No Logo"/>
                        <div class="col-sm-7">
                        
                          <h4 *ngIf="this.stocksInfoPopulated == true" class = "labelInfo"> {{stockInfo.name}} </h4>
                          <div *ngIf="this.stocksInfoPopulated == true"> {{stockInfo.exchange}}</div>
                        

                        <br>

                        <div class = "d-flex ">
                          <div class = "labelItem">COUNTRY: </div>
                          <div *ngIf="this.stocksInfoPopulated == true" class = "ml-auto p-2 labelInfo">{{stockInfo.country}}</div>
                        </div>

                       

                        <div class = "d-flex">
                          <div class = " labelItem"> CURRENCY:  </div>
                          <div *ngIf="this.stocksInfoPopulated == true" class = "ml-auto p-2 labelInfo"> {{stockInfo.currency}} {{this.priceStr}}  </div>
                        </div>

                        <a *ngIf="this.stocksInfoPopulated == true" href = "{{stockInfo.weburl}}">{{stockInfo.weburl}}</a>
                         
                        </div>
                        
                    </div>

               
                    <div id="menu-outer">
                      <div class="table">
                        <ul id="horizontal-list">
                        <li  *ngFor = "let peer of peers">
                          <a href="#" (click) = "onAnalyzeCompare(2,peer)"> {{peer}}</a>
                        </li>
                        </ul>
                      </div>
                    </div>
      
    </div>

  </div>
</div>