html,body {
    height: 100%;
    margin: 0;
     width: 100%;
}

.subHeading{
    color: #5A0061;
    font-size: 20px;
    position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #5A0061;
}



.main-content{
    padding: 2%;
    flex: 1 1 0;
    max-height: 100vh;
    overflow: hidden;
}

.requestAnalyze{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    grid-gap: 20px;
}

.requestAnalyzeArea{
    padding: 5px;
    border: solid;
    border-color: white;
    height: 100%;
}

.requestFormInfo{
   

}

.graphInfo{
    grid-row: span 2;
    grid-column: 1/span 3;
}

.contentInfo{
    grid-row: 1/span 1;
    grid-column: 2/span 2;
    color: #EFF3F5 ;
}

.requestTitle{
    color: #EFF3F5;
    font-size: large;
    border-bottom: solid;
    border-color: #5A0061;
}

.labelClass{
    color: #EFF3F5;
}

.inputBox{
    background-color: #2D3C43;
    color: #EFF3F5;
  
}

.mat-button-toggle-label-content{
    line-height: 0px !important;
    padding: 12px 10px 10px 10px !important
  }
  
.mat-button-toggle {
    background-color: #2D3C43;
    color: #EFF3F5;
  
}

.mat-button-toggle-checked {
    background-color: #5A0061;

}


input, select, textarea, input[type=text]{
    color: #EFF3F5;
}

.stockInfoClass{
  padding: 20px;
}


#moreTickerInfo{
    display: none;
    
}

#chartContainer2{
    display: none;
}

#chartContainer1{
    display: block;
}

.buttonClass{
    padding: 5%;
    justify-content: center;
}