/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  background-image: linear-gradient(#141C1F, #1F2A2E, #141C1F);

}

html,body {
  height: 100%;
  margin: 0;
}