
<div class = "app-main-content">
    <div class = "components">
        <div class = "component-item portfoliocomponent"> 
             <app-portfolio-list> </app-portfolio-list>
        </div>
        <div class = "component-item requestcomponent"> 
            <app-request-form></app-request-form>
        </div>
        <div class = "component-item tradecomponent"> 
            <app-trade-list></app-trade-list>
        </div>
    <div>
</div>

<router-outlet></router-outlet>
