
body {
    margin: 0; height: 100%; 
}

.app-main-content{
    padding: 2%;
    flex: 1 1 50%;
    max-height:90vh;
}

.components{
    display:grid;
    grid-template-rows: 1fr 1fr 0px 30%;
    grid-template-columns: repeat(3, 1fr) ;
    grid-gap: 20px;
}

.component-item{
    padding: 5px;
    border: solid;
    border-color: white;
}

.portfoliocomponent{
    grid-row: 1/span 3;
    grid-column: 1/span 1;
    
}

.requestcomponent{
    grid-row: 1/span 1;
    grid-column: 2/span 2;
}

.tradecomponent{
    grid-row: 2/span 2;
    grid-column: 2/span 2;
}