

<div class = "tradehistory-header"> TRADE HISTORY </div>
<br>
<div class="table-wrapper-scroll-y my-custom-scrollbar">

  <table id="dtBasicExample" class="table table-sm table-hover" cellspacing="0">
    <thead>
      <tr>
        <th scope="col" >Trade</th>
        <th scope="col">Date Created</th>
        <th scope="col">Action</th>
        <th scope="col">Status</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total Value</th>
        

      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trade of trades">
      <th scope="row">{{trade.ticker}}</th>
      <td>{{trade.dateCreated}}</td>
      <td>{{trade.actionType}} </td>
      <td>{{trade.status}}</td>
      <td>{{trade.quantity}}</td>
      <td>{{trade.requestedPrice}}</td>
      <td>{{trade.totalValue}}</td>
       

    </tr>
  </tbody>
  </table>

</div>
