.my-custom-scrollbar {
    height: 250px;
    overflow: auto;
}
.table-wrapper-scroll-y {
   
    overflow-y: auto;
}


.tradehistory-header{
    color: #EFF3F5;
    font-size: x-large;
    border-bottom: solid;
    border-color: #5A0061;
}


html,body {
    height: 100%;
    margin: 0;
}

.customTable{
   
    background-color: #2D3C43;
}

table {
    background-color: #2D3C43;
    color: #EFF3F5;
    border-collapse: collapse;
    width: 100%;
    
}
  
th, td {
    text-align: left;
}
  