.main-content{
    padding: 2%;
    flex: 1 1 50%;
    max-width: 100vw;

}

.portfolio-header{
    color: #EFF3F5;
    font-size: x-large;
    border-bottom: solid;
    border-color: #5A0061;
}

.portfolio{
    display:grid;
    height: 100%;
    grid-auto-rows: 10px;
  
}

.portfolio-item{
    background-color: #2D3C43;
    height: fit-content;
    grid-row-start: 4;
    grid-row-end: span 5; 

    padding: 5px;
  

}

.topInfo-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    
}

.tickerInfo{
    color: #EFF3F5;
    font-weight: bold;
    font-size: larger;
 }

 .quantityInfo{
    color: #EFF3F5;
  
 }

 .priceInfo{
    color: #EFF3F5;
    width: fit-content;
 }

 .liveInfo{
     color: #EFF3F5;
     font-size: larger;
 }

 .my-custom-scrollbar {
   max-height: 500px;
    overflow: auto;
}
.table-wrapper-scroll-y {
   
    overflow-y: auto;
}

html,body {
    height: 100%;
    margin: 0;
}

