

<div class = "main-content" *ngFor = "let portfolio of portfolios">

<p class="liveInfo"> Live portfolio value: ${{this.netValue}} </p>
<p class ="liveInfo"> Balance: {{portfolio.netCashBalance}} </p>
<div class = "portfolio-header"> PORTFOLIO </div>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <div class ="portfolio" *ngFor="let trade of portfolio.trades" >
    <div class = "portfolio-item">
      <div class = "d-flex bd-highlight">
        <div class = " bd-highlight  tickerInfo"> {{trade.ticker}} </div>
        <div class = "ml-auto p-2 bd-highlight quantityInfo"> {{trade.quantity}} </div>
      </div>
      <div class = "priceInfo"> {{trade.requestedPrice}} </div>
    </div>
  </div>
</div>



</div>



<div class="subHeading" id="chartPieContainer" style="height: 370px; width: 100%;">Rendering Pie Chart...</div>